gcloud-project = "<project>"
account_file_path = "<account_File>"

# gcloud-region = "europe-west2"
# gcloud-zone = "europe-west2-a"
# key_ring = "test"
# crypto_key = "vault-test"
# keyring_location = "global"
